body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(40, 37, 37);
  color: white;
  padding: 1em;
  text-align: center;
}

main {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  margin-bottom: 2em;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 0.5em;
}

a {
  color: rgb(139, 46, 46);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  header {
    padding: 0.5em;
  }

  main {
    padding: 0.5em;
  }
}
